*.zip
error_log
.DS_Store
.htaccess
.editorconfig
.ftp-deploy-sync-state.json
composer.json

application/cache/*
!application/cache/index.html

config.php
application/config/config.php
application/config/database.php
application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

/vendor/
/system/
/backup/

# IDE Files
#-------------------------
/nbproject/
.idea/*

assets/uploads/*
uploads/*